body{
background-color: #2f3640;

}

h1{
color: #2980b9;
font-family: arial;
text-align: center;

}

a{
  background-color: #40739e;
  color: #dcdde1;
  text-decoration: none;
  font-family: arial;
  padding: 5px;
  border-radius: 10px;

}

img{
  display: block;margin-left: auto; margin-right: auto;
  height: 350;
}
